:root {
    --primary-text-color:#757575;
    --primary-white-color: #FFFFFF;
    --title-text-color: #212121;
    --primary-bg-color: #E5E5E5;
    --accent-color: #2196F3;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}
.list{
    list-style: none;
}

/* head */
.head {
    background: var(--primary-white-color);
}

/* site-nav */
.site-nav .link.current {
    color: var(--accent-color);
}
.site-nav .current:hover,
.site-nav .current:focus {
    color: teal;
}
.site-nav .link {
    color: var(--title-text-color);
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color: teal;
}

/* contact */
.contact .mail {
    color: var(--accent-color);
}
.contact .mail:hover,
.contact .mail:focus {
    color: teal;
}
.contact .mailto:hover,
.contact .mailto:focus {
    color: teal;
}
.contact .mailto {
    color: var(--primary-text-color);
}
.contact .tel {
    color: var(--primary-text-color);
}
.contact .tel:hover,
.contact .tel:focus {
    color: teal;
}

/* hero */
.hero {
    background: #2F303A;
}
.hero .title {
    color: var(--primary-white-color);
}

/* button */
.button {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
}

/* section */
.section-title {
    color: var(--title-text-color);
}

/* features */
.features .title {
    color: var(--title-text-color);
}

/* team */
.section .name {
    color: var(--title-text-color);
}



/* колір основного тексту #212121 */
/* вторинний колір #757575 */
/* додатковий колір rgba(255, 255, 255, 0.6) */
/* білий колір #FFFFFF */
/* акцент #2196F3 */

/* колір фону #E5E5E5 */